body {
    max-width: 1200px;
    margin: 0 auto;
}
/* Header/Navbar */

h5 {
    border: 3px solid black;
    font-family: 'Crimson Text', serif;
    color: orangered;
    font-size: 16px;
    width: 150px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    float: left;
}

header {
    font-family: 'Crimson Text', serif;
   /* display: inline;*/
   height: 3em;
   margin: 15px;
   width: 85%;
}

nav {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    text-align: right;
    display: inline;
}

li {
    float: right;
    border-bottom: 3px solid orangered;
    padding: 8px;
    margin: 0px 5px;
}

a {
    text-decoration: none;
    color: black;

}

body {
    font-family: 'Lato', sans-serif;
}

/* Headshot section */
.headshot {
    width: 85%;
    margin: 45px;
    
}

h1.color-text {
    font-size: 48px;
}

.headshot-text {
    height: 140px;
    width: 400px;
    position: relative;
    bottom: 6em;
    margin-left: 20em;
}

/* Greeting Section */
.greeting {
    background-color: lightgray;
    width: 1200px;
    padding: 3em;
    display: inline-flex;
}

.hello-left {
    text-align: right;
    padding-right: 2em;
    float: left;
    width: 40%;
}

.hello-left.h1 {
    font-size: 3em;
}

#about {
    border: 3px solid black;
    background-color: white;
    position: relative;
    height: 14em;
    width: 60%;
    float: right;
    padding: 5px;
}

/*jobs */

#experience {
    width: 85%;
    margin: 0 auto;
}

.job {
    width: 50%;
    height: 200px;
    float: left;
}


/* Projects */

#work {
    width: 1200px;
    height: 300px;
    display: inline-table;
}

.project {
   
    display: inline;
}

.project img {
    width: 33%;
    height: 200px;
    margin: 0 auto;
}

/* Contact section */
#contact {
    width: 85%;
    margin: 0 auto;
}
contact.h1 {

}

.work-together {
    text-align: right;
}

form {
    width: 400px;
    margin: 0 auto;
}

form input {
    background-color: lightgrey;
    font-style: oblique;
    color: darkgray;
    text-align: left;
    width: 400px;
    height: auto;
}

.message {
    height: 200px;
    width: 400px;
    background-color: lightgray;
    font-style: oblique;
    color: darkgrey;
}

button {
    color: white;
    background-color: orangered;
    border-radius: 20%;
    text-align: right;
}

/* Footer Styling */

footer {
    width: 100%;
    text-align: center;
    

}

.bye {
    height: 50px;
    width: 200px;
    padding: 10px;
    font-style: italic;
}

footer img {
    height: 3em;
    
}

/* Styles across sections */

.color-text {
    color: orangered;
    font-family: 'Crimson Text', serif;
}

.inner-container{
    width: 85%;
}

.crimson {
    font-family: 'Crimson Text', serif;
}