html {
    max-width: 1200px;   
} 
* {
    box-sizing: border-box;
}

.inner-container{
    width: 85%;
}
/* Header/Navbar */

header {
    font-family: 'Crimson Text', serif;
}

a {
    text-decoration: none;
    color: black;

}

body {
    font-family: 'Lato', sans-serif;
}

/* Headshot section */
li {
    list-style-type: none;
}  /* also removes bullets from nav elements */



h1 {
    font-family: 'Crimson Text', serif;
}


/*jobs */


/* Projects */

#work {
    width: 1200px;
    height: 300px;
    padding-left: 100px;

}

.project {
    position: float;
    display: inline;
}

.project img {
    width: 300px;
    height: 150px;
    padding: -10px;
    margin: 0px;
}

/* Footer Styling */

footer {
    width: 100%;
    text-align: center;
    

}

.bye {
    height: 50px;
    width: 200px;
    padding-top: 35px;
    display: inline-flex; 
}

footer img {
    height: 3em;
    
}

